
.bg-header-footer{
    background-color: rgba(44,62,80);
}

.bg-hero{
    background-color: rgba(26,188,156);
}

.bg-top-footer{
    background-color: rgba(58,84,109);
}

.icon-circle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
